In [11]:
import pandas as pd

In [14]:
data = pd.read_csv('./docs/csv/description.csv', sep=";")
data.head()

,Название поля,Описание,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Water_(g),Water (g/100 g),NaN,NaN,NaN
1,Protein_(g),Protein (g/100 g),NaN,NaN,NaN
2,Lipid_Tot_(g),Total lipid (fat)(g/100 g),NaN,NaN,NaN
3,Ash_(g),Ash (g/100 g),NaN,NaN,NaN
4,Carbohydrt_(g),Carbohydrate by difference (g/100 g),NaN,NaN,NaN

In [15]:
train = pd.read_csv('./docs/csv/train.csv', sep=";")
print(len(train))
train.head()

7756

,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY","4,7",393,12,6,"3,9","73,4","5,2","13,75",651.0,...,3,"1,267","1,429","2,186",0.0,2.0,1 tbsp,15,.5 oz,0.0
1,"HEARTS OF PALM,CANNED","90,2",28,"2,52","0,62","2,04","4,62","2,4",NaN,58.0,...,NaN,"0,13","0,103","0,202",0.0,146.0,1 cup,33,1 piece,0.0
2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...","63,89",196,"24,06","11,09","1,56",0,0,0,13.0,...,0,"2,866","4,878","1,673",130.0,89.0,1 thigh,85,"1 serving, (3 oz)",29.0
3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD","54,73",280,"20,43","21,35","3,51",0,0,0,10.0,...,0,"7,67","10,14","2,32",58.0,140.0,1 cup,85,3 oz,27.0
4,"VINEGAR,DISTILLED","94,78",18,0,0,"0,02","0,04",0,"0,04",6.0,...,0,0,0,0,0.0,14.0,1 tbsp,238,1 cup,0.0

In [18]:
train['Shrt_Desc'][9]

'CEREALS RTE,QUAKER,SHREDDED WHEAT,BAGGED CRL'

In [4]:
list(train.columns.values)

['Shrt_Desc',
 'Water_(g)',
 'Energ_Kcal',
 'Protein_(g)',
 'Lipid_Tot_(g)',
 'Ash_(g)',
 'Carbohydrt_(g)',
 'Fiber_TD_(g)',
 'Sugar_Tot_(g)',
 'Calcium_(mg)',
 'Iron_(mg)',
 'Magnesium_(mg)',
 'Phosphorus_(mg)',
 'Potassium_(mg)',
 'Sodium_(mg)',
 'Zinc_(mg)',
 'Copper_mg)',
 'Manganese_(mg)',
 'Selenium_(µg)',
 'Vit_C_(mg)',
 'Thiamin_(mg)',
 'Riboflavin_(mg)',
 'Niacin_(mg)',
 'Panto_Acid_mg)',
 'Vit_B6_(mg)',
 'Folate_Tot_(µg)',
 'Folic_Acid_(µg)',
 'Food_Folate_(µg)',
 'Folate_DFE_(µg)',
 'Choline_Tot_ (mg)',
 'Vit_B12_(µg)',
 'Vit_A_IU',
 'Vit_A_RAE',
 'Retinol_(µg)',
 'Alpha_Carot_(µg)',
 'Beta_Carot_(µg)',
 'Beta_Crypt_(µg)',
 'Lycopene_(µg)',
 'Lut+Zea_ (µg)',
 'Vit_E_(mg)',
 'Vit_D_µg',
 'Vit_D_IU',
 'Vit_K_(µg)',
 'FA_Sat_(g)',
 'FA_Mono_(g)',
 'FA_Poly_(g)',
 'Cholestrl_(mg)',
 'GmWt_1',
 'GmWt_Desc1',
 'GmWt_2',
 'GmWt_Desc2',
 'Refuse_Pct']

In [5]:
test = pd.read_csv('test.csv', sep=";")
print(len(test))
test.head()

862

,Shrt_Desc,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Calcium_(mg),Iron_(mg),...,Vit_K_(µg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct
0,SILK KEY LIME SOY YOGURT,"77,59","2,35","1,18","1,24","17,65","0,6","12,35",176.0,"0,64",...,NaN,0,NaN,NaN,0.0,170.0,1 container,NaN,NaN,0.0
1,"FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG","95,51","1,25","0,07","0,53","3,22",NaN,NaN,13.0,"0,63",...,NaN,"0,01","0,004","0,034",0.0,104.0,.75 cup,207,1.5 cup,0.0
2,"CUTTLEFISH,MXD SP,CKD,MOIST HEAT","61,12","32,48","1,4","3,36","1,64",0,NaN,180.0,"10,84",...,NaN,"0,236","0,162","0,268",224.0,85.0,3 oz,NaN,NaN,0.0
3,"GROUND TURKEY,93% LN,7% FAT,RAW","72,63","18,73","8,34","0,92",0,0,0,21.0,"1,17",...,0,"2,17","2,843","2,537",74.0,28.0,1 oz,453,1 lb,0.0
4,"TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD...","69,99","27,94","2,08","1,4",0,0,0,15.0,"0,59",...,0,"0,428","0,67","0,668",74.0,85.0,3 oz,852,1 breast,24.0

In [6]:
gtrain = pd.read_csv('gramms_train.csv')
print(len(gtrain))
gtrain.head()

7756

,Unnamed: 0,Shrt_Desc,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Copper_mg),...,Lut+Zea_ (g),Vit_E_(g),Vit_K_(g),Cholestrl_(g),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Energ_Kcal
0,0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,12.00,6.00,3.90,73.40,5.2,13.75,0.391,...,0.00157,0.00500,0.00003,0.000,2.0,1 tbsp,15.0,.5 oz,0.0,393
1,1,"HEARTS OF PALM,CANNED",90.20,2.52,0.62,2.04,4.62,2.4,NaN,0.133,...,NaN,NaN,NaN,0.000,146.0,1 cup,33.0,1 piece,0.0,28
2,2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,24.06,11.09,1.56,0.00,0.0,0.00,0.084,...,0.00000,0.00025,0.00000,0.130,89.0,1 thigh,85.0,"1 serving, (3 oz)",29.0,196
3,3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,20.43,21.35,3.51,0.00,0.0,0.00,0.113,...,0.00000,0.00024,0.00000,0.058,140.0,1 cup,85.0,3 oz,27.0,280
4,4,"VINEGAR,DISTILLED",94.78,0.00,0.00,0.02,0.04,0.0,0.04,0.006,...,0.00000,0.00000,0.00000,0.000,14.0,1 tbsp,238.0,1 cup,0.0,18

In [7]:
col = list(gtrain.columns.values)

In [8]:
gtrain.columns = ['Class'] + col[1:]

In [9]:
gtrain.head()

,Class,Shrt_Desc,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),Copper_mg),...,Lut+Zea_ (g),Vit_E_(g),Vit_K_(g),Cholestrl_(g),GmWt_1,GmWt_Desc1,GmWt_2,GmWt_Desc2,Refuse_Pct,Energ_Kcal
0,0,"BABYFOOD,CRL,OATMEAL,W/BANANAS,DRY",4.70,12.00,6.00,3.90,73.40,5.2,13.75,0.391,...,0.00157,0.00500,0.00003,0.000,2.0,1 tbsp,15.0,.5 oz,0.0,393
1,1,"HEARTS OF PALM,CANNED",90.20,2.52,0.62,2.04,4.62,2.4,NaN,0.133,...,NaN,NaN,NaN,0.000,146.0,1 cup,33.0,1 piece,0.0,28
2,2,"CHICKEN,BROILERS OR FRYERS,THIGH,MEAT ONLY,CKD...",63.89,24.06,11.09,1.56,0.00,0.0,0.00,0.084,...,0.00000,0.00025,0.00000,0.130,89.0,1 thigh,85.0,"1 serving, (3 oz)",29.0,196
3,3,"PORK,CURED,SHLDR,ARM PICNIC,LN&FAT,RSTD",54.73,20.43,21.35,3.51,0.00,0.0,0.00,0.113,...,0.00000,0.00024,0.00000,0.058,140.0,1 cup,85.0,3 oz,27.0,280
4,4,"VINEGAR,DISTILLED",94.78,0.00,0.00,0.02,0.04,0.0,0.04,0.006,...,0.00000,0.00000,0.00000,0.000,14.0,1 tbsp,238.0,1 cup,0.0,18

In [ ]:
gtrain.to_csv('gramms_train_valid.csv', sep=',', encoding='utf-8')

In [ ]:
gtest = pd.read_csv('gramms_test.csv')
print(len(gtest))
gtest.head()

In [ ]:
col = list(gtest.columns.values)

In [ ]:
gtest.columns = ['Class'] + col[1:]

In [ ]:
gtest.head()

In [ ]:
gtest.to_csv('gramms_train_valid.csv', sep=',', encoding='utf-8')

In [2]:
dtrain = pd.read_csv('./datasetmaker/dataset.csv')
print(len(dtrain))
dtrain.head()

259

,Unnamed: 0,Class,Shrt_Desc,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_B12_(g),Retinol_(g),Alpha_Carot_(g),Beta_Carot_(g),Beta_Crypt_(g),Lycopene_(g),Lut+Zea_ (g),Vit_E_(g),Vit_K_(g),Cholestrl_(g)
0,NaN,3,SILK KEY LIME SOY YOGURT,77.59,2.35,1.18,1.24,17.65,0.6,12.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
1,NaN,5,"FAST FOODS,SALAD,VEG,TOSSED,WO/DRSNG",95.51,1.25,0.07,0.53,3.22,NaN,NaN,...,0.000000,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000
2,NaN,4,"CUTTLEFISH,MXD SP,CKD,MOIST HEAT",61.12,32.48,1.40,3.36,1.64,0.0,NaN,...,0.000054,0.00203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.224
3,NaN,4,"GROUND TURKEY,93% LN,7% FAT,RAW",72.63,18.73,8.34,0.92,0.00,0.0,0.00,...,0.000012,0.00022,0.0,0.0,0.0,0.0,0.00000,0.00011,0.0,0.074
4,NaN,4,"TURKEY,RTL PARTS,ENHANCED,BREAST,MEAT ONLY,CKD...",69.99,27.94,2.08,1.40,0.00,0.0,0.00,...,0.000003,0.00003,0.0,0.0,0.0,0.0,0.00005,0.00008,0.0,0.074

In [3]:
import re

In [7]:
txt = "Sukanya, Rajib and Naba are my good friends. " + \
    "Sukanya is getting married next year. " + \
    "Marriage is a big step in one’s life." + \
    "It is both exciting and frightening. " + \
    "But friendship is a sacred bond between people." + \
    "It is a special kind of love between us. " + \
    "Many of you must have tried searching for a friend " + \
    "but never found the right one."

In [10]:
re.findall(r"chick",txt)

[]