In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./generic-food.csv')
df.head()

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
0,Angelica,Angelica keiskei,Herbs and Spices,Herbs
1,Savoy cabbage,Brassica oleracea var. sabauda,Vegetables,Cabbages
2,Silver linden,Tilia argentea,Herbs and Spices,Herbs
3,Kiwi,Actinidia chinensis,Fruits,Tropical fruits
4,Allium (Onion),Allium,Vegetables,Onion-family vegetables

In [3]:
list(df['GROUP'].unique())

['Herbs and Spices',
 'Vegetables',
 'Fruits',
 'Nuts',
 'Cereals and cereal products',
 'Pulses',
 'Teas',
 'Gourds',
 'Coffee and coffee products',
 'Soy',
 'Cocoa and cocoa products',
 'Beverages',
 'Aquatic foods',
 'Animal foods',
 'Milk and milk products',
 'Eggs',
 'Confectioneries',
 'Baking goods',
 'Dishes',
 'Snack foods',
 'Baby foods',
 'Unclassified',
 'Fats and oils',
 'Herbs and spices']

In [4]:
list(df['SCIENTIFIC NAME'].unique())

['Angelica keiskei',
 'Brassica oleracea var. sabauda',
 'Tilia argentea',
 'Actinidia chinensis',
 'Allium',
 'Allium cepa',
 'Allium porrum',
 'Allium sativum',
 'Allium schoenoprasum',
 'Aloysia triphylla',
 'Anacardium occidentale',
 'Ananas comosus',
 'Anethum graveolens',
 'Annona reticulata',
 'Apium graveolens',
 'Arachis hypogaea',
 'Arctium lappa',
 'Armoracia rusticana',
 'Artemisia dracunculus',
 'Artemisia vulgaris',
 'Asparagus officinalis',
 'Avena sativa',
 'Averrhoa carambola',
 'Bertholletia excelsa',
 'Beta vulgaris',
 'Borago officinalis',
 'Brassica juncea',
 'Brassica napus',
 'Brassica napus var. napus',
 'Brassica oleracea',
 'Brassica oleracea var. botrytis',
 'Brassica oleracea var. gemmifera',
 'Brassica oleracea var. gongylodes',
 'Brassica oleracea var. italica',
 'Brassica rapa',
 'Brassica rapa var. rapa',
 'Cajanus cajan',
 'Camellia sinensis',
 'Capparis spinosa',
 'Capsicum annuum',
 'Carica papaya',
 'Carthamus tinctorius',
 'Carum carvi',
 'Carya illinoinensis',
 'Castanea',
 'Chamaemelum nobile',
 'Cicer arietinum',
 'Cichorium endivia',
 'Cichorium intybus',
 'Cinnamomum aromaticum',
 'Cinnamomum verum',
 'Citrullus lanatus',
 'Citrus aurantiifolia',
 'Citrus limon',
 'Citrus maxima',
 'Citrus reticulata',
 'Citrus sinensis',
 'Coffea',
 'Coffea arabica',
 'Coffea canephora',
 'Coriandrum sativum',
 'Corylus avellana',
 'Crocus sativus',
 'Cucumis melo',
 'Cucumis sativus',
 'Cucurbita',
 'Cuminum cyminum',
 'Curcuma longa',
 'Cydonia oblonga',
 'Cymbopogon citratus',
 'Cynara scolymus',
 'Daucus carota',
 'Diospyros kaki',
 'Elettaria cardamomum',
 'Empetrum nigrum',
 'Eriobotrya japonica',
 'Eruca vesicaria ssp. sativa',
 'Eugenia',
 'Fagopyrum esculentum',
 'Fagopyrum tataricum',
 'Ficus carica',
 'Foeniculum vulgare',
 'Fragaria X ananassa',
 'Gaylussacia baccata',
 'Glycine max',
 'Helianthus annuus',
 'Hippophae rhamnoides',
 'Hordeum vulgare',
 'Hyssopus officinalis',
 'Illicium verum',
 'Ipomoea aquatica',
 'Ipomoea batatas',
 'Juglans nigra',
 'Juglans regia',
 'Lactuca sativa',
 'Lathyrus sativus',
 'Laurus nobilis',
 'Lens culinaris',
 'Lepidium sativum',
 'Levisticum officinale',
 'Linum usitatissimum',
 'Lippia graveolens',
 'Litchi chinensis',
 'Lupinus',
 'Malus pumila',
 'Mangifera indica',
 'Matricaria recutita',
 'Melissa officinalis',
 'Mentha',
 'Mentha aquatica',
 'Mentha arvensis',
 'Mentha spicata',
 'Mentha X piperita',
 'Mespilus germanica',
 'Momordica charantia',
 'Morus',
 'Morus nigra',
 'Myristica fragrans',
 'Ocimum basilicum',
 'Oenothera biennis',
 'Olea europaea',
 'Origanum majorana',
 'Origanum onites',
 'Origanum vulgare',
 'Oryza sativa',
 'Panicum miliaceum',
 'Papaver',
 'Passiflora edulis',
 'Pastinaca sativa',
 'Persea americana',
 'Petroselinum crispum',
 'Phaseolus coccineus',
 'Phaseolus lunatus',
 'Phaseolus vulgaris',
 'Phoenix dactylifera',
 'Photinia melanocarpa',
 'Pimpinella anisum',
 'Pinus',
 'Piper nigrum',
 'Pistacia vera',
 'Pisum sativum',
 'Portulaca oleracea',
 'Prunus',
 'Prunus armeniaca',
 'Prunus avium',
 'Prunus cerasus',
 'Prunus domestica',
 'Prunus dulcis',
 'Prunus persica',
 'Psidium guajava',
 'Punica granatum',
 'Pyrus communis',
 'Raphanus sativus',
 'Rheum rhabarbarum',
 'Ribes nigrum',
 'Ribes rubrum',
 'Ribes uva-crispa',
 'Rorippa nasturtium-aquaticum',
 'Rosmarinus officinalis',
 'Rubus',
 'Rubus chamaemorus',
 'Rubus idaeus',
 'Rubus occidentalis',
 'Rumex acetosa',
 'Salvia officinalis',
 'Sambucus nigra',
 'Satureja hortensis',
 'Satureja montana',
 'Secale cereale',
 'Sesamum orientale',
 'Solanum lycopersicum',
 'Solanum lycopersicum var. cerasiforme',
 'Solanum lycopersicum var. lycopersicum',
 'Solanum melongena',
 'Solanum tuberosum',
 'Sorbus aucuparia',
 'Sorghum bicolor',
 'Spinacia oleracea',
 'Syzygium aromaticum',
 'Tamarindus indica',
 'Taraxacum officinale',
 'Theobroma cacao',
 'Thymus vulgaris',
 'Tilia',
 'Tilia cordata',
 'Trigonella foenum-graecum',
 'Triticum aestivum',
 'Vaccinium',
 'Vaccinium angustifolium',
 'Vaccinium arboreum',
 'Vaccinium corymbosum',
 'Vaccinium macrocarpon',
 'Vaccinium myrtillus',
 'Vaccinium vitis-idaea',
 'Vanilla',
 'Verbena officinalis',
 'Vicia faba',
 'Vigna angularis',
 'Vigna mungo',
 'Vigna radiata',
 'Vigna umbellata',
 'Vigna unguiculata',
 'Vitis rotundifolia',
 'Vitis vinifera',
 'Zea mays',
 'Zingiber officinale',
 'Rubus arcticus',
 'Musa acuminata',
 'Myrica',
 'Vaccinium elliottii',
 'Vaccinium myrtilloides',
 'Vaccinium uliginosum',
 'Ribes aureum var. villosum',
 'Apium graveolens var. rapaceum',
 'Apium graveolens var. dulce',
 'Allium tuberosum',
 'Vaccinium oxycoccos',
 'Vaccinium stamineum',
 'Panax',
 'Vaccinium deliciosum',
 'Vaccinium ovalifolium',
 'Vaccinium ovatum',
 'Vaccinium parvifolium',
 'Dimocarpus longan',
 'Macadamia tetraphylla',
 'Allium cepa var. cepa',
 'Vitis aestivalis',
 'Vitis labrusca',
 'Prunus persica var. nucipersica',
 'Prunus persica var. persica',
 'Capsicum baccatum var. baccatum',
 'Capsicum chinense',
 'Capsicum',
 'Nephelium lappaceum',
 'Oryza rufipogon',
 'Zizania aquatica',
 'Beta vulgaris ssp. cicla',
 'Thymus pulegioides',
 'Brassica oleracea var. costata',
 'Juglans ailanthifolia',
 'Allium fistulosum',
 'Triticum durum',
 'Allium ascalonicum',
 'Eruca vesicaria',
 'Daucus carota ssp. sativus',
 'X Triticosecale rimpaui',
 'Brassica oleracea var. viridis',
 'Vaccinium angustifolium X Vaccinium corymbosum',
 'Apium graveolens var. secalinum',
 'Cichorium intybus var. foliosum',
 'Brassica rapa var. perviridis',
 'Brassica rapa var. chinensis',
 'Brassica rapa var. pekinensis',
 'Cichorium intybus var. sativum',
 'Citrus paradisi X Citrus maxima',
 'Citrus X paradisi',
 'Ribes × nidigrolaria',
 'Brassica oleracea var. alboglabra',
 'Origanum X majoricum',
 'Brassica oleracea var. conica',
 'Raphanus sativus var. longipinnatus',
 'Raphanus sativus var. niger',
 'Raphanus sativus var. sativus',
 'Beta vulgaris var. rubra',
 'Grataegosorbus mitschurinii',
 'Salvia elegans',
 'Ribes glandulosum',
 nan,
 'Haliotis',
 'Crateva religiosa',
 'Malpighia emarginata',
 'Quercus',
 'Cucurbita maxima',
 'Eucheuma',
 'Paralithodes camtschaticus',
 'Medicago sativa',
 'Pimenta dioica',
 'Amaranthus',
 'Sagittaria latifolia',
 'Maranta arundinacea',
 'Pyrus pyrifolia',
 'Clupea harengus harengus',
 'Scomber scombrus',
 'Serranus scriba',
 'Pollachius pollachius',
 'Anarhichas lupus',
 'Phyllostachys edulis',
 'Morone saxatilis',
 'Castor canadensis',
 'Fagus',
 'Delphinapterus leucas',
 'Bison bison',
 'Ursus americanus',
 'Dallia pectoralis',
 'Callinectes sapidus',
 'Mytilus edulis',
 'Thunnus thynnus',
 'Pomatomus saltatrix',
 'Sus scrofa',
 'Balaena mysticetus',
 'Artocarpus altilis',
 'Brosimum alicastrum',
 'Brassica ruvo',
 'Ursus arctos',
 'Bubalus bubalis',
 'Lota lota',
 'Petasites japonicus',
 'Peprilus triacanthus',
 'Juglans cinerea',
 'Cucurbita moschata',
 'Lagenaria siceraria',
 'Cynara cardunculus',
 'Rangifer tarandus',
 'Carissa macrocarpa',
 'Ceratonia siliqua',
 'Cyprinus carpio',
 'Manihot esculenta',
 'Ictalurus punctatus',
 'Sechium edule',
 'Annona cherimola',
 'Anthriscus cerefolium',
 'Salvia hispanica',
 'Gallus gallus',
 'Brassica alboglabra',
 'Castanea mollissima',
 'Eleocharis dulcis',
 'Chrysanthemum coronarium',
 'Coregonus artedi',
 'Clinocardium nuttallii',
 'Cocos nucifera',
 'Gadus macrocephalus',
 'Gadus morhua',
 'Octopus vulgaris',
 'Valerianella locusta',
 'Gossypium',
 'Vigna unguiculata ssp. cylindrica',
 'Malus',
 'Viburnum edule',
 'Micropogonias undulatus',
 'Brosme brosme',
 'Sepiidae',
 'Odocoileus',
 'Myoxocephalus',
 'Rumex',
 'Coryphaena hippurus',
 'Aplodinotus grunniens',
 'Anas platyrhynchos',
 'Cancer magister',
 'Durio zibethinus',
 'Crassostrea virginica',
 'Anguilla',
 'Sambucus',
 'Cervus canadensis',
 'Dromaius novaehollandiae',
 'Perideridia oregana',
 'Engraulis encrasicolus',
 'Castanea sativa',
 'Scophthalmus maximus',
 'Chamerion angustifolium',
 'Trachinotus carolinus',
 'Ginkgo biloba',
 'Anser anser',
 'Vitis',
 'Reinhardtius hippoglossoides',
 'Physalis',
 'Epinephelus',
 'Numida meleagris',
 'Melanogrammus aeglefinus',
 'Hippoglossus',
 'Corylus',
 'Carya',
 'Equus caballus',
 'Moringa oleifera',
 'Vaccinium alaskaense',
 'Lablab purpureus',
 'Chondrus crispus',
 'Trachurus symmetricus',
 'Artocarpus heterophyllus',
 'Castanea crenata',
 'Syzygium cumini',
 'Helianthus tuberosus',
 'Ziziphus zizyphus',
 'Corchorus olitorius',
 'Brassica napus var. pabularia',
 'Laminaria',
 'Scomberomorus cavalla',
 'Fortunella',
 'Chenopodium album',
 'Katharina tunicata',
 'Allium ampeloprasum',
 'Molva molva',
 'Ophiodon elongatus',
 'Homarus americanus',
 'Rubus loganobaccus',
 'Nelumbo',
 'Nelumbo nucifera',
 'Lupinus albus',
 'Basella alba',
 'Mammea americana',
 'Garcinia mangostana',
 'Hedysarum alpinum',
 'Chanos chanos',
 'Lophius piscatorius',
 'Alces alces',
 'Vigna aconitifolia',
 'Dioscorea pentaphylla',
 'Mugil cephalus',
 'Ondatra zibethicus',
 'Sinapis alba',
 'Brassica perviridis',
 'Tetragonia tetragonioides',
 'Opuntia cochenillifera',
 'Zoarces americanus',
 'Enteroctopus dofleini',
 'Vaccinium reticulatum',
 'Abelmoschus esculentus',
 'Tunicata',
 'Didelphis virginiana',
 'Struthio camelus',
 'Phoca largha',
 'Clupea pallasii',
 'Crassostrea gigas',
 'Sebastes',
 'Melanitta fusca',
 'Capsicum annuum var. annuum',
 'Diospyros virginiana',
 'Phasianus colchicus',
 'Esox lucius',
 'Canarium ovatum',
 'Pinus edulis',
 'Eugenia uniflora',
 'Opuntia macrorhiza',
 'Musa X paradisiaca',
 'Phytolacca americana',
 'Ursus maritimus',
 'Papaver somniferum',
 'Pediomelum esculentum',
 'Opuntia',
 'Chenopodium quinoa',
 'Oryctolagus',
 'Procyon lotor',
 'Osmerus mordax',
 'Oncorhynchus mykiss',
 'Syzygium jambos',
 'Rosa',
 'Hibiscus sabdariffa',
 'Hoplostethus atlanticus',
 'Anoplopoma fimbria',
 'Oncorhynchus gorbuscha',
 'Oncorhynchus keta',
 'Oncorhynchus kisutch',
 'Oncorhynchus nerka',
 'Oncorhynchus tshawytscha',
 'Salmo salar',
 'Rubus spectabilis',
 'Tragopogon porrifolius',
 'Manilkara zapota',
 'Pouteria sapota',
 'Scomberomorus maculatus',
 'Sardinops sagax',
 'Pectinidae',
 'Stenotomus chrysops',
 'Parastichopus californicus',
 'Eumetopias jubatus',
 'Erignathus barbatus',
 'Pusa hispida',
 'Cynoscion',
 'Sesbania bispinosa',
 'Alosa sapidissima',
 'Squaliformes',
 'Stenodus leucichthys',
 'Ovis aries',
 'Archosargus probatocephalus',
 'Sisymbrium',
 'Katsuwonus pelamis',
 'Lutjanidae',
 'Annona muricata',
 'Triticum spelta',
 'Spirulina',
 'Columba',
 'Sciuridae',
 'Psidium cattleianum',
 'Acipenser',
 'Catostomus commersonii',
 'Annona squamosa',
 'Lepomis gibbosus',
 'Xiphias gladius',
 'Colocasia esculenta',
 'Eragrostis tef',
 'Lopholatilus chamaeleonticeps',
 'Physalis philadelphica var. immaculata',
 'Luffa aegyptiaca',
 'Salmonidae',
 'Meleagris gallopavo',
 'Bos taurus',
 'Sander vitreus',
 'Theragra chalcogramma',
 'Wasabia japonica',
 'Benincasa hispida',
 'Buccinidae',
 'Pollachius virens',
 'Coregonus nasus',
 'Coregonus',
 'Merlangius merlangus',
 'Zizania',
 'Salix pulchra',
 'Psophocarpus tetragonolobus',
 'Dioscorea',
 'Pachyrhizus erosus',
 'Xanthosoma sagittifolium',
 'Thunnus albacares',
 'Seriola lalandi',
 'Pollachius',
 'Thunnus alalunga',
 'Gadus',
 'Hippoglossus hippoglossus',
 'Hippoglossus stenolepis',
 'Oncorhynchus',
 'Osmeridae',
 'Clupeinae',
 'Palinuridae',
 'Chionoecetes opilio',
 'Vigna unguiculata ssp. unguiculata',
 'Cervidae',
 'Macadamia',
 'Percoidei',
 'Perciformes',
 'Urocitellus parryii',
 'Leporidae',
 'Capra aegagrus hircus',
 'Bos taurus X Bison bison',
 'Artiodactyla',
 'Bivalvia',
 'Teuthida',
 'Caridea',
 'Astacidea',
 'Pleuronectiformes',
 'Sus scrofa domestica',
 'Odobenus rosmarus',
 'Polygonum alpinum',
 'Triticum turanicum',
 'Vigna unguiculata ssp. sesquipedalis',
 'Bubo virginianus',
 'Phasianidae',
 'Rubus ursinus X idaeus',
 'Citrus latifolia',
 'Feijoa sellowiana',
 'Pangium edule',
 'Auricularia auricula-judae',
 'Agaricus bisporus',
 'Lentinus edodes',
 'Porphyra laciniata',
 'Undaria pinnatifida',
 'Flammulina velutipes',
 'Dysphania ambrosioides',
 'Pleurotus ostreatus',
 'Auricularia polytricha',
 'Grifola frondosa',
 'Matteuccia struthiopteris',
 'Leiostomus xanthurus',
 'Rumex articus',
 'Citrullus lanatus var. fistulosus',
 'Brevoortia tyrannus',
 'Triticum',
 'Prunus virginiana',
 'Agave',
 'Typha angustifolia',
 'Scyphozoa',
 'Engraulidae',
 'Micromesistius poutassou',
 'Abramis brama',
 'Cantharellus cibarius',
 'Acipenseridae',
 'Salvelinus',
 'Cinnamomum',
 'Brachyura',
 'Limanda limanda',
 'Squalus acanthias',
 'Anatidae',
 'Anguilliformes',
 'Ranidae',
 'Belone belone',
 'Gadiformes',
 'Lepus timidus',
 'Salvelinus namaycush',
 'Microstomus kitt',
 'Nephropidae',
 'Cyclopteridae',
 'Scombridae',
 'Mytilidae',
 'Sebastes viviparus',
 'Nephrops norvegicus',
 'Trisopterus esmarkii',
 'Elaeis',
 'Ostreidae',
 'Metroxylon sagu',
 'Diospyros',
 'Sander lucioperca',
 'Pleuronectidae',
 'Lagopus muta',
 'Sebastes alutus',
 'Scorzonera hispanica',
 'Phocidae',
 'Rhodophyta',
 'Saccharina japonica',
 'Gastropoda',
 'Soleidae',
 'Siluriformes',
 'Cirsium',
 'Thunnus',
 'Juglans',
 'Cetacea',
 'Columbidae',
 'Strombidae',
 'Cichlidae',
 'Chelonia mydas',
 'Hibiscus sabbariffa',
 'Morchellaceae',
 'Cucumis metuliferus',
 'Attalea speciosa',
 'Theobroma grandiflorum',
 'Vitellaria paradoxa',
 'Camellia oleifera',
 'Virola surinamensis',
 'Byrsonima crassifolia',
 'Solanum quitoense',
 'Cyathea',
 'Thelesperma',
 'Ascidiacea',
 'Nuphar lutea',
 'Capsicum pubescens',
 'Allium sativum L. var. sativum',
 'Brassica oleracea var. capitata',
 'Myrica rubra',
 'Cucurbita pepo var. clypeata',
 'Cucurbita pepo var. cylindrica',
 'Amelanchier alnifolia',
 'Prunus tomentosa',
 'Brassica oleracea L. var. capitata L. f. alba DC.',
 'Lactuca sativa L. var. longifolia']

In [5]:
list(df['SUB GROUP'].unique())

['Herbs',
 'Cabbages',
 'Tropical fruits',
 'Onion-family vegetables',
 'Nuts',
 'Spices',
 'Root vegetables',
 'Shoot vegetables',
 'Cereals',
 'Leaf vegetables',
 'Oilseed crops',
 'Peas',
 'Teas',
 'Fruit vegetables',
 'Gourds',
 'Citrus',
 'Coffee',
 'Pomes',
 'Berries',
 'Other fruits',
 'Soy',
 'Tubers',
 'Lentils',
 'Other pulses',
 'Beans',
 'Drupes',
 'Stalk vegetables',
 'Cocoa',
 'Fermented beverages',
 'Other breads',
 'Cereal products',
 'Soy products',
 'Doughs',
 'Distilled beverages',
 'Fortified wines',
 'Alcoholic beverages',
 'Mollusks',
 'Seaweed',
 'Crustaceans',
 'Fishes',
 'Rodents',
 'Cetaceans',
 'Bovines',
 'Other mammals',
 'Swine',
 'Other seeds',
 'Other vegetables',
 'Venison',
 'Poultry',
 'Equines',
 'Other aquatic foods',
 'Marsupials',
 'Pinnipeds',
 'Lagomorphs',
 'Ovis',
 'Caprae',
 'Mushrooms',
 'Amphibians',
 'Fermented milk products',
 'Unfermented milks',
 'Eggs',
 'Frozen desserts',
 'Other confectioneries',
 'Candies',
 'Seasonings',
 'Desserts',
 'Other dishes',
 'Snack foods',
 'Flat breads',
 'Dressings',
 'Sauces',
 'Other milk products',
 'Substitutes',
 'Sugars',
 'Ground meat',
 'Condiments',
 'Baking goods',
 'Meat products',
 'Fruit products',
 'Waters',
 'Fish products',
 'Other beverages',
 'Baby foods',
 'Vegetable products',
 'Unclassified',
 'Animal fats',
 'Spreads',
 'Herb and spice mixtures',
 'Cocoa products',
 'Fermented milks',
 'Leavened breads',
 'Roe',
 'Nutritional beverages',
 'Tex-Mex cuisine',
 'Sandwiches',
 'Milk desserts',
 'Asian cuisine',
 'Herbal teas',
 'Pasta dishes',
 'Berber cuisine',
 'Coffee products',
 'Mexican cuisine',
 'Potato dishes',
 'American cuisine',
 'Wrappers',
 'Vegetable fats',
 'Latin American cuisine',
 'Bread products',
 'Sweet breads',
 'Jewish cuisine',
 'Levantine cuisine',
 'Brassicas',
 'Cereals and cereal products',
 'Cocoa and cocoa products',
 'Coffee and coffee products',
 'Milk and milk products',
 'Fats and oils',
 'Herbs and Spices',
 'Pulses',
 'Animal foods',
 'Beverages',
 'Fruits',
 'Green vegetables']

In [6]:
df[df['GROUP'] == 'Fats and oils']

                 FOOD NAME SCIENTIFIC NAME          GROUP       SUB GROUP
687                 Tallow             NaN  Fats and oils     Animal fats
694                   Lard             NaN  Fats and oils     Animal fats
695       Other animal fat             NaN  Fats and oils     Animal fats
796             Shortening             NaN  Fats and oils  Vegetable fats
841               Dripping             NaN  Fats and oils     Animal fats
856              Margarine             NaN  Fats and oils  Vegetable fats
857  Margarine-like spread             NaN  Fats and oils  Vegetable fats
877          Fats and oils             NaN  Fats and oils   Fats and oils

In [7]:
first = ['Cereals and cereal products', 'Confectioneries', 'Baking goods', 'Snack foods']
second = ['Teas', 'Coffee and coffee products', 'Beverages', 'Aquatic foods', 'Baby foods']
third = ['Milk and milk products',]
fourth = ['Fats and oils', 'Animal foods',]
fivth = ['Herbs and Spices', 'Herbs and spices', 'Vegetables', 'Fruits', 'Nuts', 'Pulses', 'Soy', ]

In [8]:
dff = []

for group in first:
    dff.append(df[df['GROUP'] == group])

df1 = pd.concat(dff)

In [9]:
print(list(df1['GROUP'].unique()) == first)
df1.head()

True

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
21,Oat,Avena sativa,Cereals and cereal products,Cereals
78,Common buckwheat,Fagopyrum esculentum,Cereals and cereal products,Cereals
79,Tartary buckwheat,Fagopyrum tataricum,Cereals and cereal products,Cereals
87,Barley,Hordeum vulgare,Cereals and cereal products,Cereals
124,Rice,Oryza sativa,Cereals and cereal products,Cereals

In [10]:
dff = []

for group in second:
    dff.append(df[df['GROUP'] == group])

df2 = pd.concat(dff)

In [11]:
print(list(df2['GROUP'].unique()) == second)
df2.head()

True

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
37,Tea,Camellia sinensis,Teas,Teas
736,Hibiscus tea,Hibiscus sabbariffa,Teas,Herbal teas
833,Greenthread tea,Thelesperma,Teas,Herbal teas
57,Coffee,Coffea,Coffee and coffee products,Coffee
58,Arabica coffee,Coffea arabica,Coffee and coffee products,Coffee

In [12]:
dff = []

for group in third:
    dff.append(df[df['GROUP'] == group])

df3 = pd.concat(dff)

In [13]:
print(list(df3['GROUP'].unique()) == third)
df3.head()

True

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP
629,Cheese,NaN,Milk and milk products,Fermented milk products
630,Milk (Cow),NaN,Milk and milk products,Unfermented milks
632,Yogurt,NaN,Milk and milk products,Fermented milk products
650,Ymer,NaN,Milk and milk products,Fermented milk products
660,Butter,NaN,Milk and milk products,Other milk products

In [14]:
dff = []

for group in fourth:
    dff.append(df[df['GROUP'] == group])

df4 = pd.concat(dff)

In [15]:
print(list(df4['GROUP'].unique()) == fourth)
df4.head()

True

            FOOD NAME SCIENTIFIC NAME          GROUP       SUB GROUP
687            Tallow             NaN  Fats and oils     Animal fats
694              Lard             NaN  Fats and oils     Animal fats
695  Other animal fat             NaN  Fats and oils     Animal fats
796        Shortening             NaN  Fats and oils  Vegetable fats
841          Dripping             NaN  Fats and oils     Animal fats

In [16]:
dff = []

for group in fivth:
    dff.append(df[df['GROUP'] == group])

df5 = pd.concat(dff)

In [17]:
print(list(df5['GROUP'].unique()) == fivth)
df5.head()

True

       FOOD NAME       SCIENTIFIC NAME             GROUP SUB GROUP
0       Angelica      Angelica keiskei  Herbs and Spices     Herbs
2  Silver linden        Tilia argentea  Herbs and Spices     Herbs
7         Garlic        Allium sativum  Herbs and Spices     Herbs
8         Chives  Allium schoenoprasum  Herbs and Spices     Herbs
9  Lemon verbena     Aloysia triphylla  Herbs and Spices     Herbs

## Load df to txt

In [25]:
with open('df1.txt', 'w') as f:
    for name in list(df1['FOOD NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df1['SCIENTIFIC NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df1['GROUP'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df1['SUB GROUP'].unique()):
        f.write(str(name).lower() + '\n')

In [26]:
with open('df2.txt', 'w') as f:
    for name in list(df2['FOOD NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df2['SCIENTIFIC NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df2['GROUP'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df2['SUB GROUP'].unique()):
        f.write(str(name).lower() + '\n')

In [27]:
with open('df3.txt', 'w') as f:
    for name in list(df3['FOOD NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df3['SCIENTIFIC NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df3['GROUP'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df3['SUB GROUP'].unique()):
        f.write(str(name).lower() + '\n')

In [28]:
with open('df4.txt', 'w') as f:
    for name in list(df4['FOOD NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df4['SCIENTIFIC NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df4['GROUP'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df4['SUB GROUP'].unique()):
        f.write(str(name).lower() + '\n')

In [29]:
with open('df5.txt', 'w') as f:
    for name in list(df5['FOOD NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df5['SCIENTIFIC NAME'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df5['GROUP'].unique()):
        f.write(str(name).lower() + '\n')
    for name in list(df5['SUB GROUP'].unique()):
        f.write(str(name).lower() + '\n')